<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dock</title>
</head>
<body>
<!--to show each ship that is docked-->
<form >
    <div for="gate-1" id="gate-1">
        <input type="text" id="ship-1" name="ship-1"><br><br>
    </div>


    <label for="input#ship">Ship</label>
    <input type="text" id="input#ship" name="ship">
    <input type="button" value="Dock" onclick= "showDockedShip()">
</form>


<script type="text/javascript">
    function showDockedShip(){
        var ship = document.getElementById("ship").value;
        alert(ship);
        document.getElementById("gate-1").innerHTML = ship;
    }
</script>

</body>
</html>