<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Scrum Team Page</title>
</head>
<body>
<p th:text="${message}"></p>


<a href="/contactme" id="contact-me-link">Contact Me</a> <br>
<a href="/ping" id="ping-challenge-link">Our First Web Service</a><br>
<a href="/astroport" id="astroport-link">Astroport</a>
<p>
<a href="/primeFactors/ui" id="prime-factors-decomposition-link">primeFactors</a>
</p>
<p>
    <a href="https://github.com/EdnilsonSarmento/LesMasters2020"id="repository-link"> Repository</a>
</p>



</body>
</html>