<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minesweeper</title>
    <style>
        table tr td{
            background-color: antiquewhite;
            width: 10%;
        }

        table tr td:hover{
            background-color: aqua;
        }
    </style>
</head>
<body>
<h2 id="title">Minesweeper</h2>

 <table>
     <tr id="row-1">
         <td id="cell-1x1">1</td>
         <td id="cell-1x2">2</td>
         <td id="cell-1x3">3</td>
         <td id="cell-1x4" >4</td>
         <td id="cell-1x5">5</td>
         <td id="cell-1x6">6</td>
         <td id="cell-1x7">7</td>
         <td id="cell-1x8">8</td>
     <tr>
     <tr id="row-2">
     <td id="cell-2x1">1</td>
     <td id="cell-2x2">2</td>
     <td id="cell-2x3">3</td>
     <td id="cell-2x4" >4</td>
     <td id="cell-2x5">5</td>
     <td id="cell-2x6">6</td>
     <td id="cell-2x7">7</td>
     <td id="cell-2x8">8</td>
     <tr>
     <tr id="row-3">
     <td id="cell-3x1">1</td>
     <td id="cell-3x2">2</td>
     <td id="cell-3x3">3</td>
     <td id="cell-3x4" >4</td>
     <td id="cell-3x5">5</td>
     <td id="cell-3x6">6</td>
     <td id="cell-3x7">7</td>
     <td id="cell-3x8">8</td>
     <tr>
     <tr id="row-4">
     <td id="cell-4x1">1</td>
     <td id="cell-4x2">2</td>
     <td id="cell-4x3">3</td>
     <td id="cell-4x4" >4</td>
     <td id="cell-4x5">5</td>
     <td id="cell-4x6">6</td>
     <td id="cell-4x7">7</td>
     <td id="cell-4x8">8</td>
     <tr>
     <tr id="row-5">
     <td id="cell-5x1">1</td>
     <td id="cell-5x2">2</td>
     <td id="cell-5x3">3</td>
     <td id="cell-5x4" >4</td>
     <td id="cell-5x5">5</td>
     <td id="cell-5x6">6</td>
     <td id="cell-5x7">7</td>
     <td id="cell-5x8">8</td>
     <tr>
     <tr id="row-6">
     <td id="cell-6x1">1</td>
     <td id="cell-6x2">2</td>
     <td id="cell-6x3">3</td>
     <td id="cell-6x4" >4</td>
     <td id="cell-6x5">5</td>
     <td id="cell-6x6">6</td>
     <td id="cell-6x7">7</td>
     <td id="cell-6x8">8</td>
     <tr>
     <tr id="row-7">
         <td id="cell-7x1">1</td>
         <td id="cell-7x2">2</td>
         <td id="cell-7x3">3</td>
         <td id="cell-7x4" >4</td>
         <td id="cell-7x5">5</td>
         <td id="cell-7x6">6</td>
         <td id="cell-7x7">7</td>
         <td id="cell-7x8">8</td>
     <tr>
     <tr id="row-8">
     <td id="cell-8x1">1</td>
     <td id="cell-8x2">2</td>
     <td id="cell-8x3">3</td>
     <td id="cell-8x4" >4</td>
     <td id="cell-8x5">5</td>
     <td id="cell-8x6">6</td>
     <td id="cell-8x7">7</td>
     <td id="cell-8x8">8</td>
     <tr>
 </table>

</body>
</html>