<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minesweeper</title>
    <style>
        table tr td{
            background-color: antiquewhite;
            width: 10%;
        }

        table tr td:hover{
            background-color: aqua;
        }
    </style>
</head>
<body>
<h2 id="title">Minesweeper</h2>

 <table>
     <tr id="row-1">
         <td id="r1-cel1">1</td>
         <td id="r1-cel2">2</td>
         <td id="r1-cel3">3</td>
         <td id="r1-cel4" >4</td>
         <td id="r1-cel5">5</td>
         <td id="r1-cel6">6</td>
         <td id="r1-cel7">7</td>
         <td id="r1-cel8">8</td>
     <tr>
     <tr id="row-2">
     <td id="r2-cel1">1</td>
     <td id="r2-cel2">2</td>
     <td id="r2-cel3">3</td>
     <td id="r2-cel4" >4</td>
     <td id="r2-cel5">5</td>
     <td id="r2-cel6">6</td>
     <td id="r2-cel7">7</td>
     <td id="r2-cel8">8</td>
     <tr>
     <tr id="row-3">
     <td id="r3-cel1">1</td>
     <td id="r3-cel2">2</td>
     <td id="r3-cel3">3</td>
     <td id="r3-cel4" >4</td>
     <td id="r3-cel5">5</td>
     <td id="r3-cel6">6</td>
     <td id="r3-cel7">7</td>
     <td id="r3-cel8">8</td>
     <tr>
     <tr id="row-4">
     <td id="r4-cel1">1</td>
     <td id="r4-cel2">2</td>
     <td id="r4-cel3">3</td>
     <td id="r4-cel4" >4</td>
     <td id="r4-cel5">5</td>
     <td id="r4-cel6">6</td>
     <td id="r4-cel7">7</td>
     <td id="r4-cel8">8</td>
     <tr>
     <tr id="row-5">
     <td id="r5-cel1">1</td>
     <td id="r5-cel2">2</td>
     <td id="r5-cel3">3</td>
     <td id="r5-cel4" >4</td>
     <td id="r5-cel5">5</td>
     <td id="r5-cel6">6</td>
     <td id="r5-cel7">7</td>
     <td id="r5-cel8">8</td>
     <tr>
     <tr id="row-6">
     <td id="r6-cel1">1</td>
     <td id="r6-cel2">2</td>
     <td id="r6-cel3">3</td>
     <td id="r6-cel4" >4</td>
     <td id="r6-cel5">5</td>
     <td id="r6-cel6">6</td>
     <td id="r6-cel7">7</td>
     <td id="r6-cel8">8</td>
     <tr>
     <tr id="row-7">
         <td id="r7-cel1">1</td>
         <td id="r7-cel2">2</td>
         <td id="r7-cel3">3</td>
         <td id="r7-cel4" >4</td>
         <td id="r7-cel5">5</td>
         <td id="r7-cel6">6</td>
         <td id="r7-cel7">7</td>
         <td id="r7-cel8">8</td>
     <tr>
     <tr id="row-8">
     <td id="r8-cel1">1</td>
     <td id="r8-cel2">2</td>
     <td id="r8-cel3">3</td>
     <td id="r8-cel4" >4</td>
     <td id="r8-cel5">5</td>
     <td id="r8-cel6">6</td>
     <td id="r8-cel7">7</td>
     <td id="r8-cel8">8</td>
     <tr>
 </table>

</body>
</html>