<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form >

    <div  id="title">
        <H1>Prime Factors</H1>
    </div>
    <div  id="invitation">
        <H3>Enter a number</H3>
    </div>
    <div >
        <input type="text" id="number" name="number"><br><br>
    </div>
    <BUTTON id="go" onclick="primeFactorsController();">Go</BUTTON>
    <div  id="result">
        <p>
        <h3> The reult of the decomposition.: </h3>
        </p>
        <p id="fresult">
            <br><br>
        </p>
    </div>

</form>
</body>
<script type="text/javascript">
    function primeFactorsController(){
        var number =document.getElementById("number").value;
        var primefactors=[];
        var copyOfInput = number;
        for (var i = 2; i <= copyOfInput; i++) {
            if (copyOfInput % i == 0) {
                primefactors.push(i); // prime factor

                copyOfInput /= i;
                i--;
            }
        }
        //document.getElementById("fresult").innerHTML=primefactors;
        //document.write(primefactors)
        return document.body.appendChild(document.createTextNode(primefactors));


    }
</script>


</html>
